<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>USA Hot News</title>
</head>
<body>
<a id="top"></a>
<header>
    <nav class="header">
        <a class="header_link" href="/?category=general">General</a>
        <a class="header_link" href="/?category=business">Business</a>
        <a class="header_link" href="/?category=sports">Sports</a>
        <a class="header_link" href="/?category=entertainment">Entertainment</a>
        <a class="header_link" href="/?category=health">Health</a>
        <a class="header_link" href="/?category=science">Science</a>
        <a class="header_link" href="/?category=technology">Technology</a>
    </nav>
</header>
<main>
    <section class="article_info">
        <ul>
            {% for article in articles %}
                <li class="each_article">
                    <a class="article_link" href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                    <p>{{ article.description }}</p>
                    <img src="{{ article.urlToImage }}" alt="{{ article.description }}" width="100%" height=auto>
                </li>
                <br/>
            {% endfor %}
        </ul>
    </section>
</main>
<a class="top" href="#top">back to top</a>
</body>
</html>