{% extends 'layout.twig' %}
{% block content %}
    <h1 id="register" class="text-3xl text-center font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">
        Welcome, {{ auth.name }}!
    </h1>
    <h2 id="register" class="text-3xl text-center font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
        Want to update your user data?
    </h2>
    <section class="register">
        <form action="/update-info" method="post">
            <input type="text" id="name" name="name" value="{{ auth.name }}" placeholder="Update your name">
            <br>
            <input type="email" id="email" name="email" value="{{ auth.email }}" placeholder="Update your email">
            <br>
            {% if errors.name %}
                <p class="font-semibold text-red-800 capitalize lg:text-1xl dark:text-red ml-3">
                    X {{ errors.name }}
                </p>
            {% endif %}
            {% if errors.email %}
                <p class="font-semibold text-red-800 capitalize lg:text-1xl dark:text-red ml-3">
                    X {{ errors.email }}
                </p>
            {% endif %}
            {% if success.name %}
                <p class="font-semibold text-green-800 capitalize lg:text-1xl dark:text-green ml-3">
                    ✔ {{ success.name }}
                </p>
            {% endif %}
            {% if success.email %}
                <p class="font-semibold text-green-800 capitalize lg:text-1xl dark:text-green ml-3">
                    ✔ {{ success.email }}
                </p>
            {% endif %}
            <input type="submit" value="Update user data">
        </form>
    </section>
    <h2 id="register" class="text-3xl text-center font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
        Want to change your password?
    </h2>
    <section class="register">
        <form action="/change-pass" method="post">
            <input type="password" id="password" name="old_password" placeholder="Enter your current password" required>
            <br>
            <input type="password" id="password" name="password" placeholder="Enter your new password" required>
            <br>
            <input type="password" id="password-repeat" name="password_repeat" placeholder="Confirm new password"
                   required>
            <br>
            {% if errors.old_password %}
                <p class="font-semibold text-red-800 capitalize lg:text-1xl dark:text-red ml-3">
                    X {{ errors.old_password }}
                </p>
            {% endif %}
            {% if errors.password %}
                <p class="font-semibold text-red-800 capitalize lg:text-1xl dark:text-red ml-3">
                    X {{ errors.password }}
                </p>
            {% endif %}
            {% if errors.password_repeat %}
                <p class="font-semibold text-red-800 capitalize lg:text-1xl dark:text-red ml-3">
                    X {{ errors.password_repeat }}
                </p>
            {% endif %}
            {% if success.password %}
                <p class="font-semibold text-green-800 capitalize lg:text-1xl dark:text-green ml-3">
                    ✔ {{ success.password }}
                </p>
            {% endif %}
            <input type="submit" value="Update password">
        </form>
    </section>
{% endblock %}